.app-header {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.desktop-actions {
  align-self: center;
  gap: var(--mantine-spacing-xs);
}

.link {
  text-decoration: none;
  color: inherit;
}
